@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.contract_form input {
  width: 49%;
  padding: 10px 10px;
  border: 1px solid #5d83ec;
  font-family: "Raleway", sans-serif;
  margin-right: -6px;
  border-radius: 6px;
}

.contract_form button {
  background-color: #5d83ec;
  color: #fff;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
}

.contract_form {
  margin: 30px 0px;
}
