@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.header {
  padding: 20px 43px;
  background: #fff;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 3px 5px 2px #5d83ec;
}

.header h2 {
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #3d3d3d;
  margin: 0;
}

.header p {
  font-size: 12px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  margin: 0px 0px 0px 35px;
}

.header svg {
  margin: 2px 0px;
}

.header img {
  width: 30px;
  height: 30px;
  display: inline;
  border-radius: 100%;
  margin: 0px 2px 0px 18px;
  border: 1px solid #5d83ec;
}

.header button p {
  font-family: "Raleway", sans-serif;
  margin: 0px;
}
