@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: absolute;
  bottom: 0px;
  width: 100vw;
  background-color: #fff;
  box-shadow: -2px -3px 5px 2px #5d83ec;
}

.footer h3 {
  font-family: "Raleway", sans-serif;
  margin: 18px 40px;
}

.footer h3 a {
  color: #5d83ec;
  text-decoration: none;
}

.footer h3 a :hover {
  color: #5d83ec;
}

.footer svg {
  color: #5d83ec;
  width: 24px;
  height: 24px;
  margin: 18px 10px;
}

.footer .icons {
  margin: 0px 30px;
}
